<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="win81" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="win81" />
  <package id="MVVMHelpers.Metro81" version="2013.2.00.00" targetFramework="win81" />
  <package id="MvvmLightLibs" version="4.4.32.1" targetFramework="win81" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="win81" />
  <package id="NUnit" version="2.6.3" targetFramework="win81" />
  <package id="WinRTXamlToolkit" version="1.6.1.3" targetFramework="win81" />
</packages>